/*
** main application styles
** can use variables from variables.scss file: e.g. $custom-color
** can also use vuetify theme vars: var(--v-primary-base)
*/

// prismic
p:empty {
  height: 1em;
}

// vuetify
.v-card__title {
  word-break: break-word;
}
