/*
** main application styles
** can use variables from variables.scss file: e.g. $custom-color
** can also use vuetify theme vars: var(--v-primary-base)
*/

// headings
h1 {
  font-family: $heading-font-family;
}
h2 {
  font-family: $heading-font-family;
}
h3 {
  font-family: $heading-font-family;
}
h4 {
  font-family: $heading-font-family;
}
h5 {
  font-family: $heading-font-family;
}
h6 {
  font-family: $subheading-font-family;
}

// prismic
p:empty {
  height: 1em;
}

// vuetify
.v-card__title {
  word-break: break-word;
}
