/*
** main application styles
** use variables from variables.scss file
*/
// html {
//   font-size: $font-size-root;
// }

h1 {
font-size: 2.5rem;
}
h2 {
  font-size: 1.8rem;
}
h3 {
  font-size: 1.6rem;
}
h4 {
  font-size: 1.4rem;
}
h5 {
  font-size: 1.2rem;
}
h6 {
  font-size: 1rem;
}

// elements
p:empty {
  height: 1em;
}

// vuetify
.v-card__title {
  word-break: break-word;
}
